@import './style.css';

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6rem;
  padding: 1.5rem;
  background-color: var(--color-grey-light);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 0 2rem;
}

.bookstoreLogo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-primary);
}

.books {
  margin: 0 2rem 0 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--color-grey-dark);
}

.categories {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--color-grey-dark);
}

.oval {
  width: 2.813rem;
  height: 2.813rem;
  padding: 0.875rem;
  border: solid 1px var(--color-grey-dark);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 2.5rem;
  color: var(--color-grey-dark);
}
